    <div class="row pt-5 ">
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
    </div>
</div>
    <div class="row pt-5 mt-5">
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "#{ Driver.where(:id => "#{rand(1..20)}").first.url}", class:"carta" %>
        </div>
    </div>

