    <div class="row pt-5 ">
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
        <div class="col">
            <%= image_tag "ocon.png", class:"carta" %>
        </div>
    </div>

