<div class="card" style="width: 18rem;">
            <img src="<%= Driver.last.url%>" class="img-thumbnail"  alt="perfil-valtteri-bottas-2022-soymotor" border="0"></a> 
            <div class="card-body">
                <h6 class="card-title">1A</h6>
                <h5 class="card-title"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Equipo <%= Driver.last.equipo %></li>
                <li class="list-group-item">Adelantamiento  <%= Driver.last.adelantamiento %></li>
                <li class="list-group-item">Capacidad para clima humedo <%= Driver.last.capacidad_clima_humeda %></li>
                <li class="list-group-item">Consistencia <%= Driver.last.consistencia %></li>
                <li class="list-group-item">Defender <%= Driver.last.defender %></li>
                <li class="list-group-item">Gestion de combustible <%= Driver.last.gestion_combustible %></li>
                <li class="list-group-item">Gestiond de Neumaticos <%= Driver.last.gestion_neumaticos %></li>            </ul>
        </div>
