<div class="container">
  <p style="color: green"><%= notice %></p>
  
  <%= render @room %>

  <!--<div>
    <%= link_to "Edit this room", edit_room_path(@room) %> |
    <%= link_to "Back to rooms", rooms_path %>
    -->

    <%= render "game/index" %>

    <%= button_to "Eliminar esta sala", @room, method: :delete, class:"mt-5" %>
  </div>
</div>
